@font-face {
    font-family: "MadeThin";
    src: url("../fonts/madethin.otf") format("opentype");
}

@font-face {
    font-family: "MadeLight";
    src: url("../fonts/madelight.otf") format("opentype");
}

@font-face {
    font-family: "MadeReg";
    src: url("../fonts/madereg.otf") format("opentype");
}

@font-face {
    font-family: "MadeMed";
    src: url("../fonts/mademed.otf") format("opentype");
}

@font-face {
    font-family: "MadeBold";
    src: url("../fonts/madebold.otf") format("opentype");
}

@font-face {
    font-family: "MadeBlack";
    src: url("../fonts/madeblack.otf") format("opentype");
}

@font-face {
    font-family: "MusticaPro";
    src: url("../fonts/musticapro.otf") format("opentype");
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes typewriter {
    from {
        width: 0
    }
}

@keyframes cursor {
    50% { border-color: transparent }
}

@media only screen and (max-width: 960px) {
    .navbar {
        background-color: #000718 !important;
    }

    .quotebtn {
        margin-top: 15px;
        margin-left: 0 !important;
    }

    .nav-logo {
        width: 18% !important;
    }

    .hero-title {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    .hero {
        background-size: 275% !important;
    }

    .navbar {
        background-color: #000718 !important;
    }

    .quotebtn {
        margin-top: 15px;
        margin-left: 0 !important;
    }

    .nav-logo {
        width: 12% !important;
    }

    .hero-padding {
        padding-top: 7rem !important;
    }
    .hero-title {
        
        font-size: 32px !important;
    }

    .hero-description {
        font-size: 22px !important;
    }
}

body {
    background-color: #000718;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 1071px;
    background-image: url("../img/herobg.svg");
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    background-image: linear-gradient(rgba(0, 7, 24, 0.6), rgba(0, 7, 24, 0)) !important;
    animation: fade-down 0.5s;
    display: none;
}

.nav-link {
    color: #fff !important;
    font-family: "MadeThin";
    transition: 0.2s ease-in-out;
}


.nav-link:hover {
    color: #1156FF !important;
}

.btn-secondary {
    background-color: #000C28;
    border-radius: 15px;
    border: 2px solid #1156FF;
    transition: 0.2s ease-in-out;

    font-family: "MadeThin";

}



@keyframes moveX {
    0%{margin-top:0;}
    25%{margin-top:3px;}
    50%{margin-top:0px;}
    75%{margin-top:-3px;}
    200%{margin-top: 0px;}
}



.btn-secondary .iconify {
    animation: moveX 0.9s infinite ease-in-out;
}

.btn-secondary:hover {
    border-radius: 20px;
    background-color: #000C28;
    border: 2px solid #1156FF;
    color: white;
}

.btn-primary {
    background: #1156FF;
    border-radius: 15px;
    border: 2px solid #1156FF;
    transition: 0.2s ease-in-out;

    font-family: "MadeThin";
}

.btn-primary:hover {
    background-color: #1156FF;
    border-radius: 20px;
    border: 2px solid #1156FF;
    color: white;
}

.quotebtn {
    margin-left: 30px;
}

.navbar-toggler {
    border: 0;
}

.nav-logo {
    width: 15%;
}

.nav-logos {
    display: inline-flex;
    max-width: 250px !important;
}

.nav-text {
    font-family: "MusticaPro";
    font-size: 30px;
    text-decoration: none !important;
    color: white;
    transition: ease-in-out 0.5s;
}

.nav-text:hover {
    opacity: 0.8;
}


a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.headerauto {
    transition: ease-in-out 0.3s;
}

.stickyauto {
    background-color: rgba(0, 7, 24, 0.8) !important;
    backdrop-filter: blur(16px);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.hero-btns {
    animation: fade-up 1.2s;
}

.hero-padding {
    padding-top: 17rem;
}

.hero-title {

    font-family: "MadeMed";
    background: linear-gradient(142.39deg, #FFFFFF 19.11%, rgba(255, 255, 255, 0.5) 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 75px;
    animation: fade-down 0.8s;
}

.hero-description {
    font-family: "MadeThin";
    background: linear-gradient(142.39deg, #FFFFFF 19.11%, rgba(255, 255, 255, 0.5) 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    text-fill-color: transparent;
    width: 100%;
    white-space: nowrap;
    animation: typewriter 2s steps(100) 1s 1 normal both;
}

.portfolio {
    min-height: 300px;
    background-image: url("../img/portfoliobg.png");
    border-radius: 30px;
}

.portfolio-header {
    padding-top: 3rem;
    font-size: 60px;
    font-family: "MadeMed";

    background: linear-gradient(142.39deg, #FFFFFF 19.11%, rgba(255, 255, 255, 0.5) 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.portfolio-description {
    font-size: 45px;
    font-family: "MadeLight";

    background: linear-gradient(142.39deg, #FFFFFF 19.11%, rgba(255, 255, 255, 0.5) 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.portfolio-btn {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.blue {
    background: linear-gradient(142.39deg, #1156FF 19.11%, #144ac7 99.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@keyframes moveImg {
    0%{margin-top:0;}
    25%{margin-top:-10px;}
    50%{margin-top:0px;}
    75%{margin-top:-10px;}
    200%{margin-top: 0px;}
}


@keyframes moveImg2 {
    0%{margin-top:0;}
    25%{margin-top:-15px;}
    50%{margin-top:0px;}
    75%{margin-top:-15px;}
    200%{margin-top: 0px;}
}

.atimg {
    animation: moveImg2 5s infinite ease-in-out;
}

.compimg {
    float: right !important;
    animation: moveImg 11000ms infinite ease-in-out;
}